*{
    font-family: 'Lato', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.nav-item {
    display: flex;
    margin-right: 10px;
    margin-left: 10px; /* Ajusta el valor según el espacio que desees */
    gap: 120px;
    align-items: center;
}

.nav-item a {
    color: inherit; /* Mantiene el color del texto */
    text-decoration: none; /* Elimina el subrayado */
    margin: 0 10px; /* Ajusta el margen según sea necesario */
}

.nav-item a i {
    font-size: 1.5rem; /* Ajusta el tamaño del icono según sea necesario */
}
#contain-acciones {
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004a87;
    color: white;
    gap: 35px;
    padding: 20px;
}
.acciones {
    text-decoration: none;
    color: inherit;
}

.acciones:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

#title {
    padding: 10px;
    margin-left: 40%;
}

#list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.tarjeta {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(167, 226, 235);
    box-shadow: -4px 1px 20px 0px rgba(0,74,135,0.52);
}

.tarjeta:hover {
    background-color: #cfecec88;
    width: 260px;
    height: 310px;
}

.imagenes{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.imagenes:hover {
    width: 110px;
    height: 110px;
    border-radius: 40px;
}

.search-container {
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: left;  
    text-align: center;
    gap: 20px;
    color: #096e90;
}
.search-container i {   
    font-size: 16px;
    color: #ccc
}

.search-container input {
    text-align: right;
    margin-left: 100px;
    margin-right: 30px;
    height: 100%;
    border-radius: 40px;
    font-size: 16px;
}
  
.button-container{
    justify-content: center;
    background-color: #096e90;
    color: white;
    border: 1px solid #000000;
    width:40px;
    height: 15px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    width: 80px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container:hover {
    background-color: #004a87;
}

button:hover {
    background-color: #004a87;
}

footer {
    background-color: #004a87;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;  
    margin-top: 20px;
}

#redes {
    flex-direction: column;
}

.logosRedes {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

